body{
    background: linear-gradient(to right, red, green, blue);
    color:white;
}

#header{
    text-align: center;
}



#startBtn{
font-weight: bold;
color: white;
border-radius: 10%;
width: 80px;
height: 40px;
background: blue;
padding: 10px;
border: none;    
}

#game{
    display: flex;
    justify-content: space-evenly;
}

#result{
font-size: 24px;
text-align: center;    
}

#pWeapon, #cWeapon{
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
  #game {
    display: flex;
    flex-direction: column;
  }
